@import url('../../../assets/styles/variables.css');
.footer-nav-links_list {
    color: var(--white) ;
}

.footer-nav-links_list li:nth-child(1) {
    color: var(--white);
    margin: 0 0 1rem 0;
    font-weight: 700;
}
.footer-nav-links_list li:nth-child(1) a {
    color: var(--white);
}

.footer-nav-links_list :not(li:nth-child(1)) {
    margin-bottom: .5rem;
    font-weight: 500;
}

.footer-nav-links_list li:hover a {
    color: var(--cyan);
}

.footer-nav-links_list li a:active {
    color: var(--white);
}