@import url('../../../assets/styles/variables.css');
.footer-nav-links_list {
    color: var(--white) ;
    vertical-align: top;
}

.footer-nav-links_list li:nth-child(1) {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 1rem;
}
.footer-nav-links_list li:nth-child(1) a {
    color: var(--white);
}

.footer-nav-links_list :not(li:nth-child(1)) {
    font-weight: 500;
    /* margin-bottom: .5rem; */
}

.footer-nav-links_list li a {
    display: inline;
}

.footer-nav-links_list li a:hover {
    color: var(--cyan);
}

.footer-nav-links_list li a:active {
    color: var(--white);
}