@import url('../../assets/styles/variables.css');

.shortener-area {
    position: relative;
    bottom: 5rem;
}


@media screen and (max-width: 950px) {
    .shortener-area {
        bottom: calc((12rem / 2));
    }
}