@import url('../../assets/styles/variables.css');

.shortener-area {
    position: relative;
    bottom: 5rem;
}

@media screen and (max-width: 830px) {
    .shortener-area {
        bottom: calc(208px / 2);
    }
}