@import url('../../assets/styles/variables.css');

.stats-cards_area {
    background-color: var(--main-area-gray);
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .stats-cards_area {
        height: auto;
    }
}