@import url('../../../assets/styles/variables.css');

.shortener-form_card {
    background-color: var(--dark-violet);
    background-image: url('../../../assets/images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;

    position: relative;
}

.shortener-form {
    height: 10rem;
    margin: 0 2rem;

    display: flex;
    align-items: center;
}

.shortener-form_form-controls {
    flex-grow: 1;
    height: 50px;
    margin-right: 1rem;
}
.shortener-form_form-controls input {
    height: 50px;
    width: 100%;
    font-size: 1.2rem;
}

.shortener-form_form-actions {
    height: 50px;
}
.shortener-form_form-actions button {
    height: 50px;
    min-width: 130px;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.shortener-form_form-actions button div {
    text-align: center;
    align-self: flex-end;
}

.input-on-error {
    border: 2px solid var(--red);
}

.error-message_disabled {
    color: var(--red);
    font-style: italic;
    display: none;
}
.error-message_alert {
    display: block;
    font-style: italic;
    color: var(--red);
}

@media screen and (max-width: 950px) {
    .shortener-form {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        padding: 1rem 0;
    }
    .shortener-form_form-controls {
        flex-grow: 0;
        margin-right: 0;
    }
    .shortener-form_form-actions {
        justify-self: stretch;
    }
    .shortener-form_form-actions button {
        width: 100%;
    }
}



