@import url('../../assets/styles/variables.css');
.hero-area_section {
    overflow: hidden;
}
.hero-area {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    left: 4rem;
    overflow: hidden;
    margin: 2rem 0 2rem 0;
}

@media screen and (max-width: 1000px) {
    .hero-area {
        flex-direction: column-reverse;
        left: 0;
        text-align: center;
        /* margin: 0 2rem; */
    }

    .hero-area img {
        width: 100%
    }
}