@import url('../../assets/styles/variables.css');
.hero-area_section {
    overflow: hidden;
    z-index: 1;
    background-color: var(--white);
}
.hero-area {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    left: 4rem;
    margin: 2rem 0 10rem 0;
}

@media screen and (max-width: 1000px) {
    .hero-area {
        flex-direction: column-reverse;
        left: 0;
        text-align: center;
        margin-bottom: 8rem;
    }

    .hero-area img {
        width: 100%
    }
}

@media screen and (max-width: 450px) {
    .hero-area {
        margin-bottom: 8rem;
    }
    .hero-area img {
        width: 140%;
        margin: 0 1rem;
    }
    
}