.hero-area {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    left: 4rem;
    overflow: hidden;
    margin: 1.5rem 0 0 0;
}

@media screen and (max-width: 1000px) {
    .hero-area {
        flex-direction: column-reverse;
        left: 0;
    }

    .hero-area img {
        width: 100%
    }
}