@import url('../../assets/styles/variables.css');
.main-flex {
    background-color: var(--main-area-gray);
    position: relative;
    padding: 0 4rem;
}

@media screen and (max-width: 1000px) {
    .main-flex {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 999px) {
    .main-flex {
        padding: 0 .5rem;
    }
}