@import url('../../../assets/styles/variables.css');

.button {
    display: block;
    background-color: var(--cyan);
    color: var(--white);
    padding: .25rem 1.2rem;
    cursor: pointer;
    height: 40px;
}

.primary-btn {
    border-radius: 20px;
}

.copy-btn {
    border-radius: 5px;
}

.button:hover {
    background-color: hsl(180, 66%, 70%);
}
.button:active {
    background-color: var(--cyan);
}