@import url('../../../assets/styles/variables.css');

.footer-nav_container {
    display: flex;
    padding: 4rem;
}

.footer-nav_logo-area {
    flex-grow: 1;
}
.footer-nav_logo-area svg {
    fill: var(--white);
}

.footer-nav_navigation-lists {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
}

.social-media {
    margin: 0;
}
.social-media li {
    margin: 0 1.5rem 0 0;
}
.social-media li:nth-child(1){
    margin: 0 1.5rem 0 0;
}


@media screen and (max-width: 1000px) {
    .footer-nav_container {
        text-align: center;
        flex-direction: column;
    }
    .footer-nav_navigation-lists {
        flex-direction: column;
    }
    .footer-nav_navigation-lists ul {
        margin-top: 2.5rem;
    }
    .footer-nav_logo-area {
        flex-grow: 0;
        align-self: center;
    }
}

