@import url('../../assets/styles/variables.css');
.page-header_area {
    display: block;
    padding: 2rem 4rem 0 4rem;
    background-color: var(--white);
}

.top-navigation_container {
    display: flex;
}

.nav-content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.logo-area {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.logo-area svg {
    fill: var(--very-dark-blue);
}

.desktop-menu_links li {
    margin-left: 2rem;
}
.desktop-menu_links li:nth-child(1) {
    margin-left: .5rem;
}

.desktop-menu_actions li:nth-child(1) {
    margin-right: .5rem;
}

@media screen and (max-width: 1000px) {
    .page-header_area {
        padding: 2rem 1.2rem 0 1.2rem;
    }
    /* .page-header_area__fix {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 1500;
        padding: 2rem 1.2rem 0 1.2rem;
        background-color: transparent; 
    } 
    */

    .page-header_area__fix {
        position: fixed;
        width: 100%;
        padding: 2rem 1.2rem 0 1.2rem;
        top: 0;
        bottom:0;
        /* background-color:  hsl(255, 11%, 22%, .5); */
        z-index: 1500;
    }
    
    .nav-content {
        flex-grow: 0;
        /* z-index: 3000; */

    }
    .logo-area{
        flex-grow: 2;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: flex-start;
    }
}






