.page-header_area {
    display: block;
    margin: 2rem 4rem 0 4rem;
}

.top-navigation_container {
    display: flex;
    /* align-content: center; */
}

.nav-content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.logo-area {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .logo-area {
        flex-grow: 1;
        justify-content: flex-start;
    }
    .nav-content {
        align-items: flex-end;
        align-content: flex-end;
        flex-grow: 0;
    }
}



