.nav-links {
    display: flex;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    /* margin: 0 0 0 1.5rem; */
}

/* .nav-links li:not(:nth-child(1)) {
    margin-left: 2.5rem;
} */