@import url('../../../assets/styles/variables.css');

.link {
    background-color: transparent;
    color: var(--very-grayish-violet);
}

.link:hover {
    color: var(--very-dark-blue);
}
.link:active {
    color: var(--very-grayish-violet);
}