@import url('../../../assets/styles/variables.css');
.shortened-link_container {
    height: 80px;
    margin: .8rem 0;
}
.shortened-link_container--card {
    background-color: var(--white);
    height: 100%;
    padding: 0 1rem;

    display: flex;
    align-items: center;

    box-shadow: .5px .5px 4px 2px hsla(0, 0%, 80%, .2);
}

.shortened-link_links-area {
    flex-grow: 1;

    display: flex;
}

.shortened-link-area {
    text-align: right;
    flex-grow: 1;
    color: var(--cyan);
}
.shortened-link-area p::selection {
    background-color: var(--cyan);
    color: var(--very-dark-blue);
}

.shortened-link__originalURL {
    user-select: none;
    color: var(--very-dark-blue);
}

.shortened-link_controls-area {
    width: 110px;
    margin: 0 0 0 1rem;
}
.shortened-link_controls-area button {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.shortened-link_controls-area button.copied-content {
    background-color: var(--dark-violet);
    cursor: default;
}

.shortened-link_controls-area .spinner {
    height: 20px;
    position: relative;
    bottom: 15px;
}

@media screen and (max-width: 830px) {
    .shortened-link_container {
        height: 100%;
    }
    .shortened-link_container--card {
        flex-direction: column;
        padding: 1rem;
    }
    .shortened-link_links-area {
        flex-direction: column;
        align-items: flex-start;
        align-content: stretch;
        width: 100%;
    }

    .shortened-link_links-area span {
        width: 100%;
    }

    .shortened-link__originalURL {
        border-bottom: 1px solid var(--gray);
        margin-bottom: .5rem;
        padding-bottom: .5rem;
    }

    .shortened-link-area {
        text-align: left;
        margin-bottom: 1rem;
    }

    .shortened-link_controls-area {
        width: 100%;
        margin: 0;
    }
}